/**
 * @name Rounded Discord Mod.
 * @author Ser1-1y
 * @description A theme which make your Discord becomes rounded. Modification that uses elements from Fluent Discord.
 * @version 1.0
 * @authorId 592359850059497492
 * @source https://github.com/Ser1-1y/RoundedDiscord
*/

@import url(https://Ser1-1y.github.io/RoundedDiscord/src/roundeddiscord.css);
@import url(https://Ser1-1y.github.io/RoundedDiscord/src/experimental.css);
@import url(https://capnkitten.github.io/BetterDiscord/Themes/Material-Discord/css/fonts/google-sans.css);

:root {
  --radius: 12px; /** Border radius */
  --app-font: "Google Sans";
  --user-panel-style: column; /* column - vertical, row - discord default */
  --user-panel-alignment: flex-start; /* styles: bottom - center, bottom-left - "flex-start" */
}